h1{
  background-image: url("/Users/isnadhussain/Desktop/DevProjects/For Code Academy/For review/Week 2/Dasmoto's Arts & Crafts/resources/images/1. pattern.jpeg");
  text-align: center;
  font-family: Helvetica;
  font-size:100px;
  font-weight: bold;
  color:khaki
}
h2{
  font-family: Helvetica;
  font-size:32px;
  font-weight: bold;
  color:white;
}
p{
  font-family: Helvetica;
}
#brushes
{
  background-color: mediumspringgreen;
}
#frames
{
  background-color: lightcoral;
}
#paint
{
  background-color: skyblue;
}
.price{
  font-weight: bold;
  color:blue;
}
